@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin:0;
    padding:0;
}

nav{
    font-family: 'Ubuntu' , sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}



.search-bar {
    position: absolute; /* Allows precise positioning */
    top: 20px; /* Distance from the top */
    right: 50px; /* Distance from the right */
    display: flex; /* Aligns input and button side-by-side */
    align-items: center;
    
}

/* Styling for the input field */
.search-bar input[type="text"] {
    padding: 5px 5px; /* Increases inner space (height) */
    font-size: 12px; /* Increases font size */
    border: 1px solid #ccc; /* Border style */
    border-radius: 10px; /* Rounded corners */
    width: 150px; /* Increases the width of the search box */
}


.brand img{
    padding: 0 8px;
    width: 44px;
}

.brand{
    display: flex;
    align-items:center;
    font-weight:bolder;
    font-size:1.3rem;
}

.container{
    min-height: 62vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round' , sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 10px;
    padding:20px;
    background-image: url('bg.jpg');
    background-position:center;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 75px;
    background-color: black;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.icons{
    margin-top:12px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width:80vw;
    cursor:pointer;
}

.songItemsContainer{
    margin-top: 35px;   
    /* width: 120%; */
}

.songItem{
    height: 35px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content:space-between;
    align-items:center;
    border-radius: 30px;
}

.songItem img{
    width: 30px;
    margin: 0 23px ;
    border-radius: 34px;
}

.timestamp{
    margin: 0 20px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position:absolute;
    left: 10vw;
    font-family: 'Varela Round' , sans-serif;
}

.songInfo img{
    opacity:0;
    transition: opacity 1s ease-in;
}

/* @media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  } */
